					<h2>About the Police Unity Band</h2>
					The band is an established concert band which represents the <a href="http://www.policeunity.com">Police Unity Memorial Association</a>. The band aims to entertain, and further the musical ability of its members. We're uniformed and play in a static setting. We're a charitable group that gives most of the donations we get to other local charities.
					
					<a name="members"><h3>About the members</h3></a>
					The band is open to any one interested in being involved. If you play a brass, woodwind or percussion instrument at grade 4 or equivalent we'd be delighted to hear from you. Members range from 16 upwards in age, and come from all walks of life. We are a sociable band and can often be found in the pub after rehearsal. We want everyone to be able to play - there are no mandatory subs for membership.
					
					<a name="music"><h3>About the music</h3></a>
					The music the band plays varies from traditional military marches to modern pieces and specially commissioned pieces. Every member is encouraged to put forward suggestions of pieces they would like to play. The final selection for each programme is chosen by the band master.

					<a name="events"><h3>About the events</h3></a>
					The band will consider performing at any event; school fundraisers, graduation ceremonies, public concerts - if you think the band is right for your event, <a href="contacts.pl">contact us</a> and we'll be happy to discuss your requirements. We do charge for our performances; please see the <a href="fees.pl">scale of fees</a> for more information.

					If you have any further questions, please feel free to <a href="contacts.pl">contact us</a>.


