					<h2>Frequently Asked Questions</h2>

					<h3>Joining the band</h3>
					<a href="#joiningpolice">Do I need to be a police officer to join?</a><br/>
					<a href="#joiningage">Are there any age restrictions?</a><br/>
					<a href="#joiningstandard">What standard do I need to be able to play to?</a><br/>
					<a href="#joiningaudition">Is there a joining audition?</a><br/>
					<a href="#joininginstrument">Which instruments are played in the band?</a><br/>
					<a href="#joiningrehearsals">When does the band rehearse?</a><br/>

					<a name="joiningpolice"><h4>Do I need to be a police officer to join?</h4></a>
					No - the band is open to everyone. All members will be expected to become a member of <a href="www.policeunity.com">PUMA</a>.

					<a name="joiningage"><h4>Are there any age restrictions?</h4></a>
					 16 is the minimum age. There is no upper age limit, but you should bear in mind that the band does play outdoors so if you are susceptible to weather you may not be wish to partake in some events.
					
					<a name="joiningstandard"><h4>What standard do I need to be able to play to?</h4></a>
					You should be able to play at at least grade 4 or equivalent. The band wishes to pursue a high standard of playing, and one of our aims is to help our members improve themselves, so we don't expect you to be a concert veteran.

					<a name="joinginaudition"><h4>Is there a joining audition?</h4></a>
					No. All new players get a month-long trial, after which they'll be invited to become a member if both the band and the player agree. 
					
					<a name="joininginstrument"><h4>Which instruments are played in the band?</h4></a>
					All woodwind, brass and percussion players are welcome.

					<a name="joiningrehearsals"><h4>When does the band rehearse?</h4></a>
					The band rehearses on Thursdays at 19:45, at the <a href="http://www.surrey.police.uk/aboutus_history_item.asp?artid=805">Surrey Police headquarters</a> in Guildford, Surrey (<a href="http://www.streetmap.co.uk">map</a>). You will be expected to maintain a 70% attendance record at rehearsals.