<img src="/images/band_main_header.jpg"><br/>
<h2>Sprint Concert 2013 - tickets now on sale</h2>
<a href="tickets.pl"><font size="+1">Buy tickets online now</font></a><br/><br/>
PUMB is excited to announce its Spring Concert on Sunday April 28th - tickets are on sale now. and you can even <a href="tickets.pl">buy online</a> by credit or debit card. For more information, see the <a href="list_performances.pl">Events</a> page.<br/>
<br/> 
<h2>About the band</h2>
The Police Unity Memorial Band (PUMB) is a Surrey-based concert band that represents the <a href="http://www.policeunity.com">Police Unity Memorial Association</a> (PUMA). We aim to entertain our audiences both public and private whilst honouring the service and sacrifice made by police personnel. We perform around the UK playing in a variety of musical styles, and each program of music is tailored to the nature of event.<br/>
<br/>
We are always looking for new members - if you play a brass or wind instrument or percussion, then find out more about the band <a href="about.pl">here</a> or <a href="sendmessage.pl">contact us</a>
