					 <img src="<TMPL_VAR NAME="CAPTCHA_IMG">"> 
					  <a id="captcha-reload" href="javascript:new_captcha()">Try a different image</a>
					  <input type="hidden" name="captcha_sum" value="<TMPL_VAR NAME="CAPTCHA_SUM">">