			<h2>Postal Address</h2>
			If you wish to write to the band, address your letter to one of the following people:<br/>
			<br/>
			The Treasurer<br/> 
			Police Unity Memorial Band,<br/>
			27, Bloomfield Close,<br/>
			Knaphill,<br/>
			Woking,<br/>
			Surrey GU21 2BL.<br/>
			<br/>
			<br/>
			The Chairman<br/>
			Police Unity Memorial Band,<br/>
			8, Erica Court,<br/>
			Woking,<br/>
			Surrey GU22 0JB.<br/>